<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.worshipsongs"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".WorshipSongApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Worship Songs"
        android:theme="@style/MainAppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/MainAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:theme="@style/MaterialAppTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="org.worshipsongs.activity.SongContentViewActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="org.worshipsongs.activity.ServiceSongsActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="org.worshipsongs.activity.UserSettingActivity"
            android:theme="@style/Theme.CustomPreferenceSetting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.worshipsongs.activity.NavigationDrawerActivity"/>
        </activity>
        <activity android:name="org.worshipsongs.activity.SongListActivity">
        </activity>
        <activity
            android:name="org.worshipsongs.activity.CustomYoutubeBoxActivity"
            android:theme="@style/AppTheme.Translucent"/>
        <activity
            android:name="org.worshipsongs.activity.PresentSongActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.worshipsongs.activity.DatabaseSettingActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="org.worshipsongs.activity.UpdateSongsDatabaseActivity"
            android:theme="@style/AppTheme.Translucent"/>
    </application>

</manifest>