<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.worshipsongs.worship">

    <application
        android:name="org.worshipsongs.WorshipSongApplication"
        android:allowBackup="true"
        android:label="Worship Songs"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/MainAppTheme">

        <activity
            android:name="org.worshipsongs.activity.SplashScreenActivity"
            android:theme="@style/MainAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.worshipsongs.activity.NavigationDrawerActivity"
            android:theme="@style/MaterialAppTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name="org.worshipsongs.activity.MainActivity"></activity>
        <activity android:name="org.worshipsongs.activity.SongContentViewActivity"></activity>
        <activity android:name="org.worshipsongs.activity.ServiceSongListActivity"></activity>
        <activity android:name="org.worshipsongs.activity.UserSettingActivity"
            android:theme="@style/Theme.CustomPreferenceSetting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.worshipsongs.activity.NavigationDrawerActivity" />
        </activity>
        <activity android:name="org.worshipsongs.activity.SongListActivity"></activity>


        <activity
            android:name="org.worshipsongs.activity.FontTabBarActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth"></activity>

        <activity
            android:name="org.worshipsongs.activity.FontSizeTabActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"></activity>

        <activity
            android:name="org.worshipsongs.activity.FontStyleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"></activity>

    </application>

    <!--permissions to access remote url-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
