<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.worshipsongs.worship" >

    <application
        android:name="org.worshipsongs.WorshipSongApplication"
        android:allowBackup="true"
        android:label="Worship Songs"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.worshipsongs.activity.SplashScreenActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.worshipsongs.activity.MainActivity"></activity>
        <activity android:name="org.worshipsongs.activity.SongsColumnViewActivity"></activity>
        <activity android:name="org.worshipsongs.activity.ServiceSongListActivity"></activity>
        <activity android:name="org.worshipsongs.activity.SongListActivity"></activity>
        SongListActivity

    </application>

    <!--permissions to access remote url-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

</manifest>
